BasedOnStyle: WebKit
QualifierAlignment: Left
FixNamespaceComments: true
NamespaceIndentation: All
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: false
  AfterFunction: false
  AfterClass: false
  SplitEmptyFunction: false
  